🔧 Manutenção agendada para hoje
🚘 Veículo: $device.name
🛅 Serviço: $maintenance.name
🕒 Data/Hora:  $dateTool.format("dd/MM/YYYY HH:mm:ss", $event.eventTime, $locale, $timezone)
#{if}($position.address)📍 Local: $position.address#{end}
