#if($driver)
#set($driverName = $driver.name)
#else
#set($driverName = $event.getString("driverUniqueId"))
#end
Mudou de motorista
Veículo: $device.name
Motorista: $driverName
Data/Hora:  $dateTool.format("dd/MM/YYYY HH:mm:ss", $event.eventTime, $locale, $timezone)
#{if}($position.address)Endereço: $position.address#{end}
#{if}($position.latitude)Localização: https://www.google.com/maps/@$position.latitude,$position.longitude,21z #{end}
