#set($subject = "Redefinição de Senha")
<!DOCTYPE html>
<html>
<body>

Bem-vindo de volta $user.name .<br>

Não sabe por que você recebeu este e-mail? <br />
Enviamos este e-mail para que você possa fazer login na sua conta da plataforma de rastreamento. <br />
Se você não tentou fazer login na sua conta nem solicitou o envio deste e-mail, não precisa se preocupar. Pode ser que alguém tenha inserido o seu endereço de e-mail por engano. Você pode simplesmente ignorar ou excluir esta mensagem e usar a sua senha atual para fazer login. <br />

Toque no botão abaixo para terminar de fazer login.<br>
<a href="$webUrl?passwordReset=$token">$webUrl?passwordReset=$token</a><br>


Ou cole esse link no seu navegador:<br>
$webUrl?passwordReset=$token">$webUrl?passwordReset=$token<br><br>

Este link pode ser usado quantas vezes você quiser.<br><br>

Essa solicitação foi gerada em $dateTool.format("dd/MM/YYYY HH:mm:ss", $event.eventTime, $locale, $timezone)

</body>
</html>  
