#set($subject = "$device.name: alarm!")
#set($alarmName = $position.getString("alarm"))
#if(    $alarmName == "general")
	#set($alarmName = "Geral")
#elseif($alarmName == "sos")
	#set($alarmName = "PEDIDO DE AJUDA")
#elseif($alarmName == "vibration")
	#set($alarmName = "Vibração")
#elseif($alarmName == "movement")
	#set($alarmName = "Movimento")
#elseif($alarmName == "lowspeed")
	#set($alarmName = "Baixa velocidade")
#elseif($alarmName == "overspeed")
	#set($alarmName = "Excesso Velocidade")
#elseif($alarmName == "fallDown")
	#set($alarmName = "Cair")
#elseif($alarmName == "lowPower")
	#set($alarmName = "Baixa Potência")
#elseif($alarmName == "lowBattery")
	#set($alarmName = "Bateria Baixa")
#elseif($alarmName == "fault")
	#set($alarmName = "Falta")
#elseif($alarmName == "powerOff")
	#set($alarmName = "Desligar")
#elseif($alarmName == "powerOn")
	#set($alarmName = "Desligar")
#elseif($alarmName == "door")
	#set($alarmName = "Porta")
#elseif($alarmName == "lock")
	#set($alarmName = "Bloquear")
#elseif($alarmName == "unlock")
	#set($alarmName = "Desbloquear")
#elseif($alarmName == "geofence")
	#set($alarmName = "Cerca Eletronica")
#elseif($alarmName == "geofenceEnter")
	#set($alarmName = "Entrou da Cerca")
#elseif($alarmName == "geofenceExit")
	#set($alarmName = "Saiu da Cerca")
#elseif($alarmName == "gpsAntennaCut")
	#set($alarmName = "Antena GPS Cortada")
#elseif($alarmName == "accident")
	#set($alarmName = "Acidente")
#elseif($alarmName == "tow")
	#set($alarmName = "Reboque")
#elseif($alarmName == "idle")
	#set($alarmName = "Inativo")
#elseif($alarmName == "highRpm")
	#set($alarmName = "Alta Rotação")
#elseif($alarmName == "hardAcceleration")
	#set($alarmName = "Aceleração Brusca")
#elseif($alarmName == "hardBraking")
	#set($alarmName = "Frenagem Brusca")
#elseif($alarmName == "hardCornering")
	#set($alarmName = "Curva Acentuada")
#elseif($alarmName == "laneChange")
	#set($alarmName = "Mudança de Faixa")
#elseif($alarmName == "fatigueDriving")
	#set($alarmName = "Fadiga ao dirigir")
#elseif($alarmName == "powerCut")
	#set($alarmName = "Corte de Energia")
#elseif($alarmName == "powerRestored")
	#set($alarmName = "Energia Restaurada")
#elseif($alarmName == "jamming")
	#set($alarmName = "Interferência")
#elseif($alarmName == "temperature")
	#set($alarmName = "Temperatura")
#elseif($alarmName == "parking")
	#set($alarmName = "Estacionamento")
#elseif($alarmName == "bonnet")
	#set($alarmName = "Capô")
#elseif($alarmName == "footBrake")
	#set($alarmName = "Travão de pé")
#elseif($alarmName == "fuelLeak")
	#set($alarmName = "Vazamento de combustível")
#elseif($alarmName == "tampering")
	#set($alarmName = "Violação")
#elseif($alarmName == "removing")
	#set($alarmName = "Removendo")
#end
🚨 *ALARME:* $alarmName
🚘 *Veículo:* $device.name
🕒 *Data/Hora:*  _$dateTool.format("dd/MM/YYYY HH:mm:ss", $event.eventTime, $locale, $timezone)_
#{if}($position.address)📍 *Local:* $position.address#{end}

#{if}($position.latitude)🛰️ *Localização (Google Maps):* https://www.google.com/maps/search/$position.latitude,$position.longitude#{end}