#if($speedUnit == 'kmh')\n#set($speedValue = $position.speed * 1.852)\n#set($speedString = $numberTool.format("0.0 km/h", $speedValue))\n#elseif($speedUnit == 'mph')
#set($speedValue = $position.speed * 1.15078)\n#set($speedString = $numberTool.format("0.0 mph", $speedValue))\n#else\n#set($speedString = $numberTool.format("0.0 kn", $position.speed))\n#end\n⚠️ *Excedeu o limite de velocidade*\n🚘 *Veículo:* $device.name\n⛔ *Velocidade:* $speedString\n#{if}($geofence)🔘 *Em:* $geofence.name#{else}#{end}\n🕒 *Data/Hora:*  _$dateTool.format("dd/MM/YYYY HH:mm:ss", $event.eventTime, $locale, $timezone)_\n#{if}($position.address)📍 *Local:* $position.address#{end}\n\n#{if}($position.latitude)🛰️ *Localização (Google Maps):* https://www.google.com/maps/search/$position.latitude,$position.longitude#{end}