⚠️ *Entrou na cerca virtual*
🚘 *Veículo:* $device.name
⭕ *Cerca:* $geofence.name
🕒 *Data/Hora:*  _$dateTool.format("dd/MM/YYYY HH:mm:ss", $event.eventTime, $locale, $timezone)_
#{if}($position.address)📍 *Local:* $position.address#{end}
#{if}($position.latitude)#?#$position.latitude,$position.longitude#{end}
