📥 Comando Recebido
📨 Comando: $position.getString("result")
🚘 Veículo: $device.name
🕒 Data/Hora:  $dateTool.format("dd/MM/YYYY HH:mm:ss", $event.eventTime, $locale, $timezone)
#{if}($position.address)📍 Local: $position.address#{end}

#{if}($position.latitude)🛰️ Localização (Google Maps): https://www.google.com/maps/search/$position.latitude,$position.longitude#{end}
